/*  */
/*  */
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.searchBarComponent__22760 {
  border-radius: 12px !important;
  padding-left: 10px;
}
/*  */
.searchBar_ff8800 {
  border-radius: 16px;
}
.item_e4ca95 {
  border-radius: 16px !important;
}
.itemCard__1f162, .section_efc22d {
  border-radius: 16px !important;
}
/*  */
.sidebar_ded4b5 {
  border-radius: 16px 0px 0px 0px;
}
.interactive__776ee {
  border-radius: 12px;
  background-color: var(--background-modifier-hover);
  padding-top: calc(.5*var(--custom-member-list-item-avatar-decoration-padding));
  padding-bottom: calc(.5*var(--custom-member-list-item-avatar-decoration-padding));
}
.interactive__776ee:hover {
  background-color: var(--background-modifier-selected);
}
.interactiveSelected_ec846b {
  background-color: var(--background-modifier-selected);
}
.channelEmoji_eda5df {
  display: none;
}
.link__95dc0 {
  padding: 6px 8px;
}
.containerDefault__3187b.selected__3b4cb .emojiColorFill__3e432 {
  border-radius: 12px;
  border: 1px solid #ffffff09;
}
.link__95dc0, .containerDefault__3187b:hover .link__95dc0{
    border-radius:12px;
}
.voiceChannelsButton__46c37 {
  border-radius: 16px;
}
.container_ca50b9 {
  height: 60px;
  margin-bottom: 0px;
}
/*  */
.searchBar_e0c60b {
  border-radius: 12px;
}
.public-DraftEditorPlaceholder-root, .DraftEditor-editorContainer {
  margin-left: 2px;
}
.searchFilter__118cb {
  border-radius: 8px 0px 0px 8px;
  padding-left: 6px;
}
.searchAnswer_b452e7 {
  border-radius: 0px 8px 8px 0px;
  padding-right: 6px;
}
/*  */
.scrollerContent_c73942 {
  margin-bottom: 10px !important;
}
.chatContent__5dca8:has(.form__13a2c .base__512ed) .scroller__1f96e::-webkit-scrollbar-track {
  margin-bottom: 32px;
}
.chatContent__5dca8:has(.attachedBars_da3c74) .scroller__1f96e::-webkit-scrollbar-track {
  margin-bottom: 10px;
}
/*  */
.embedWrapper_c143d9, .imageWrapper_fd6587,
.clickableWrapper__64072 img,
.embedVideo__0c65b video {
  border-radius: 12px;
}
.textContainer__709ff {
  border-radius: 12px 12px 0px 0px!important;
}
.newMosaicStyle__8d3be:has(.footer__06f4b) .shiki-container .shiki-root{
  border-radius: 12px 12px 0px 0px;
}
.messageContent__21e69 > .shiki-container, .shiki-root{
  border-radius: 12px;
}
.hljs {
  border-radius: 12px;
}
.footer__06f4b {
  border-radius: 0px 0px 12px 12px!important;
}
.gifTag__9db5a {
  border-radius: 8px;
}






/*  */
.contentWrapper_b6ca57 {
  border-radius: 15px !important;
  border: 0px solid yellow;
}
.container__7712a {
  border-radius: 12px;
}
.command__88971 {
  border-radius: 12px;
}
/*  */
.justifyStart__42744 {
  border-radius: 12px 12px 0px 0px;
}
.justifyBetween_b44898 {
  border-radius: 0px 0px 12px 12px;
}
.planOptionClickableContainer__8064d {
  border-radius: 12px;
}
.modalTextContainer_ddfc28 {
  border-radius: 12px 12px 0px 0px;
}
.modalTextContainer_ddfc28::-webkit-scrollbar-track {
  border: 0px solid red;
  margin-top: 10px;
}
/*  */
.header__6d5ea {
  border: 0px solid white;
}
.root_a28985 {
  border-radius: 16px;
}
.footer__89240 {
  border-radius: 0px 0px 16px 16px;
}
/*  */
.contentWrapper__321ed {
  border-radius: 16px;
}
.searchBar__8f956 {
  border-radius: 12px;
}
.diversitySelectorOptions__846c5, .diversityEmojiItem__6505f {
  border-radius: 12px;
}
.categoryItemDefaultCategorySelected__8245a, .categoryItemDefaultCategory__67fe7,
.stickerCategory__4891e{
  border-radius: 100% !important;
}



/*  */
.form__13a2c {
  border-top: 1px solid var(--background-secondary);
  padding-left: 0px;
  padding-right: 0px;
}
.form__13a2c::before {
  background: var(--background-primary) !important;
  width: 100%;
}

.wrapper_fbbb73 {
  margin: 0px;
  border-radius: 0px;
  height: 27.6px;
}
.jumpToPresentBar__0ff7f {
    display: contents;
}
.jumpToPresentBar__0ff7f > button:first-child {
    display: none;
}
.jumpToPresentBar__0ff7f > button:last-child {
    position: absolute;
    bottom: 22px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: var(--background-primary);
    box-shadow: var(--elevation-high);
    border-radius: 100% !important;
    font-size: 0px;
}
.chatContent__5dca8:has(.form__13a2c .base__512ed) .jumpToPresentBar__0ff7f > button:last-child {
    bottom: 42px;
}
.jumpToPresentBar__0ff7f > button svg {
    margin: 0px;
    height: 24px;
    width: 24px;
}
.base__512ed {
  /* border: 0px solid blue; */
  background: var(--channeltextarea-background) !important;
  top: -24px;
  padding-left: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.attachedBars_da3c74 {
  border-radius: 0px;
  margin-bottom: 8px;
  margin-top: -8px;
}
.channelAttachmentArea__740bf {
  padding-bottom: 16px;
  padding-top: 10px;
}

.cooldownWrapper_de448f {
  padding-right: 4px;
}
.channelTextArea__2e60f {
  margin-bottom: 9px;
  margin-top: 8px;
}
.form__13a2c:has(.channelAttachmentArea__740bf) .channelTextArea__2e60f {
  margin-bottom: 9ex;
  margin-top: 0px;
}
.form__13a2c:has(.channelAttachmentArea__740bf) .inner__9fd0b {
  margin-top: 8px;
}
.barBase__4e0ba {
  border-radius: 0px 0px 12px 12px;
  left: 0px;
}
.scrollableContainer__33e06 {
  background: none;
}
.sansAttachButton__996a4 {
  padding-left: 12px;
  right: 0px;
}
.textArea__74543 {
  background: var(--channeltextarea-background);
  border-radius: 20px 0px 0px 20px;
  margin-left: 7px;
}
.textArea__74543 > div > div{
  margin-left: 12px;
}
.editor__66464 > div {
  border: 0px solid green;
  margin-right: 10px;
}
.expression-picker-chat-input-button.buttonContainer__8b164{
  align-items: baseline;
}
.buttons_ce5b56 {
  height: unset;
}
.buttons_ce5b56 .button_afdfd9 {
  position: sticky !important;
  top: 0px !important;
  height: 44px;
}
.container__5eb17, .buttons_ce5b56 > div:not(.separator__8424b) {
  background: var(--channeltextarea-background);
}
.buttons_ce5b56 div:nth-child(6) {
  border-radius: 0px 20px 20px 0px;
  margin-right: 8px;
}
.sansAttachButtonCreateThread_cb0040 .buttonContainer__8b164 {
  border-radius: 0px 20px 20px 0px;
}
.separator__8424b {
  margin-left: 0px;
} 
.separator__8424b::before {
  display: none;
}
.attachButton_eba568 {
  background-color: var(--channeltextarea-background);
  margin-left: -4px;
  border-radius: 100% !important;
  width: 44px;
  height: 44px;
}
.icon_e5875d {
  padding-left: 10px;
} 
.activityButton__14226 {
  background-color: var(--channeltextarea-background);
  margin-left: 14px;
  border-radius: 100% !important;
  width: 44px;
  height: 44px;
}

.buttonChild__7b90d {
  padding: 0px;
}

.innerButton_debeee {
  /* border: 1px solid green; */
  padding-right: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.button__8d734 {
  background-color: var(--channeltextarea-background);
  border-radius: 100% !important;
  margin-right: 6px;
}
.buttonContainer__9b459:has(.activeButtonChild__6e162) .button__8d734 {
  background-color: var(--brand-400);
}

.activeButtonChild__6e162 {
  /* border: 0px solid green;
  padding: 7px; */
  /* background-color: var(--brand-400); */
}
.activeButtonChild__6e162 .sendIcon__461ff {
  color: var(--white-500);
}
.activeButtonChild__6e162:hover {
  background-color: var(--brand-500);
}



/* .membersGroup__85843.member_aa4760 {
  border: 1px solid blue;
} */





.layout_bb8e67 {
  border-radius: 12px;
  background-color: var(--background-modifier-hover);
}
.layout_bb8e67:hover {
  background-color: var(--background-modifier-selected) !important;
}

.userPopoutOuter_d739b2 {
  border-radius: 20px !important;
}
.userProfileModalOuter__3fe6b, .root_ba16f0 {
  border-radius: 20px !important;
}
.userProfileModalInner__7c87d::before {
  border-radius: 16px !important;
}
.topSection_dfb73b {
  border-radius: 20px !important;
}
.userPopoutInner_f545a3::before {
  border-radius: 16px;
}
.userProfileModalOverlayBackground__52d65, .userPopoutOverlayBackground_d8afa4 {
  border-radius: 12px;
}
.bannerSVGWrapper__3e7b0 .banner__6d414 {
  border-radius: 16px 16px 0px 0px;
}
.bannerSVGWrapper__3e7b0 {
  border-radius: 16px 16px 0px 0px !important;
  border: 0px solid black;
}
.profileBadges__7a7cb, .badgeList_c193e3 {
  border-radius: 16px;
  padding-left: 6px;
}
.role__631a3 {
  border-radius: 12px;
  padding-left: 1px;
  padding-bottom: 3px;
}
.connectedAccountContainer__23f00 {
  border-radius: 16px;
}
.inputWrapper__934f5 {
  border-radius: 12px;
}




/*  */

.accountProfileCard__22589 {
  border-radius: 16px;
}

.bioTextArea_a108c9 {
  border-radius: 12px;
}

.premiumFeatureBorder__9bbb3 {
  border-radius: 16px;
}
.swatch__96672 {
  border-radius: 12px;
}
.upsellOverlayContainer__08979 {
  border-radius: 12px !important;
  border: 0px;
}

.item_b7fb7e {
  border-radius: 12px;
}
.radioBar__40e1b {
  border: 1px solid var(--radio-bar-accent-color);
  border-radius: 12px;
}

/*  */

.menu_dc52c6 {
  border-radius: 12px;
}
.focused__27621 {
  border-radius: 8px;
}
.buttonsInner_bca8fa {
  border-radius: 8px;
}

.tooltip__01384 {
  border-radius: 16px;
}
.popout__24e32 {
  border-radius: 16px;
}

button, input {
  border-radius: 12px !important;
}
.select__0eb48 {
  border-radius: 12px;
}
.popout_a6e77f {
  border-radius: 12px;
} 
/*  */
.activityButton__14226 {
  position: sticky;
  top: 0px !important;
}
.imageWrapper_fd6587{
  border-radius: 0px !important;
}
.modal_d2e7a7 .embedMedia_b473d2 {
  border-radius: 0px !important;
}

