/* @import url(https://raw.githubusercontent.com/Panniku/vc-snippets/main/simple-squarecord.css); */
/* @import url(https://rejdesu.github.io/discordCSS/ProfileBannerSkins/profileBannerSkinsUpdated.css); */
/* @import url(https://minidiscordthemes.github.io/Snippets/SettingsAsOverlay/SettingsAsOverlay.css); */
@import url(https://raw.githubusercontent.com/Panniku/vc-snippets/main/tabsv2_desktop.css);
@import url(//dablulite.github.io/css-snippets/BetterAuthApps/import.css);
@import url(//raw.githubusercontent.com/lumap/css-snippets/main/double-row-badges-fix.css);
/* @import url(https://css.f53.dev/discord/ClientTheme.css); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url("https://minidiscordthemes.github.io/FluentStatusIcons/FluentStatusIcons.theme.css"); */
@import url("https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css");
/* @import url(//dablulite.github.io/css-snippets/BetterTitlebar/import.css); */
/* @import url(//dablulite.github.io/css-snippets/PrettyFolderIcons/import.css); */
/* @import url("https://raw.githubusercontent.com/coolesding/shiggycord/v3/files/winbar.css"); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/product-sans');
/* @import url(https://github.com/protesilaos/iosevka-comfy/raw/master/iosevka-comfy-wide/ttf/iosevka-comfy-regular.ttf); */

/* font FIXED :3c */
* {
  font-family: "Iosevka Nerd Font" !important;
  /* font-weight: normal !important;  */
}
:root {
  /* City Lights (VSCode theme) */
  /* normal colors */
  --accent-0-base: #28313a;
  --accent-0-msg-hover: color-mix(in srgb, var(--accent-0-base), transparent 80%); 

	/* color of blue, mentions, links */
	--accent-1: #68A1F0;
  --accent-1-hover: color-mix(in srgb, var(--accent-1),black 20%);
  --accent-1-active: color-mix(in srgb, var(--accent-1), black 40%);
  --accent-1-bg: color-mix(in srgb, var(--accent-1), transparent 70%);
  --accent-1-bg-2: color-mix(in srgb, var(--accent-1), transparent 90%);
  --accent-1-bg-2-hover: color-mix(in srgb, var(--accent-1), transparent 85%);
  --accent-1-hover-bg: color-mix(in srgb, var(--accent-1), black 15%);
  --accent-1-hover-fg: color-mix(in srgb, var(--accent-1), black 50%);
	/* color of red, ping, unread and danger */
	--accent-2: #d95468;
  --accent-2-hover: color-mix(in srgb, var(--accent-2), black 20%);
  --accent-2-active: color-mix(in srgb, var(--accent-2), black 40%);
  --accent-2-deleted: color-mix(in srgb, var(--accent-2), transparent 90%);
  --accent-2-select: color-mix(in srgb, var(--accent-2), black 50%);
	/* color of green, normal, online.... */
	--accent-3: #008B94;
  --accent-3-hover: color-mix(in srgb, var(--accent-3), black 20%);
  --accent-3-select: color-mix(in srgb, var(--accent-3), black 40%);
  --accent-3-dark: color-mix(in srgb, var(--accent-3), black 20%);
  --accent-3-dark-hover: color-mix(in srgb, var(--accent-3-dark), black 40%);
  /* color of yellow and mentions */
  --accent-4: #ebbf83;
  --accent-4-bg: color-mix(in srgb, var(--accent-4), transparent 90%);
  --accent-4-bg-hover: color-mix(in srgb, var(--accent-4), transparent 85%);
  /* color of default text */
  --accent-5: #B7C5D3;
  --accent-5-selection: color-mix(in srgb, var(--accent-5), transparent 80%);
  --accent-5-normal: #718CA1;
  --accent-5-muted: #333F4A;
  --accent-5-muted-alt: #b7c5d380;
  --accent-5-hover: #ffffff;
  /* --accent-5-a: color-mix(in srgb, var(--accent-5), transparent 20%); */

  /*  */
  /* nitro colors */
  /* guild badge */
  --accent-nitro-1: #b62d65;

}
/* replace all blue */
.theme-dark {
  
  /* main color / buttons */
  --text-brand: var(--accent-1);
  --text-normal: var(--accent-5);
  --text-muted: var(--accent-5-muted-alt);
  --header-primary: var(--accent-5);
  --header-secondary: var(--accent-5-muted-alt);
  --channel-text-area-placeholder: var(--accent-5-muted-alt);
  /*  */
  --primary-400: var(--accent-5-normal);
  /*  */
  --brand-400: var(--accent-1);
  --brand-460: var(--accent-1);
  --brand-500: var(--accent-1);
  --brand-560: var(--accent-1);
  --brand-experiment: var(--accent-1);
  --brand-experiment-360: var(--accent-1);
  --brand-experiment-600: var(--accent-1-active);
  /*  */
  --brand-experiment-10a: var(--accent-1-bg-2-hover);
  --brand-experiment-80a: color-mix(in srgb, var(--accent-1), transparent 50%);
  --brand-experiment-95a: color-mix(in srgb, var(--accent-1), transparent 20%);
  /*  */
  --background-floating: var(--background-tertiary);
  --background-message-hover: var(--accent-0-msg-hover);
  --background-message-highlight: var(--accent-1-bg-2);
  /*  */
  --channels-default: var(--accent-5-normal);

  --channel-icon: var(--accent-5-normal);
  --interactive-normal: var(--accent-5-normal);
  --interactive-active: var(--accent-5);
  --interactive-muted: var(--accent-5-muted);
  --interactive-hover: var(--accent-5-hover);
  /*            / buttons */
  --button-outline-brand-border: var(--accent-1);
  --control-brand-foreground: var(--accent-1-hover);
  /*            / button hover */
  --brand-experiment-560: var(--accent-1-hover);
  --button-outline-brand-background-hover: var(--accent-1-hover);
  --button-outline-brand-border-hover: var(--accent-1-hover);
  /*            / button active */
  --button-outline-brand-background-active: var(--accent-1-active);
  --button-outline-brand-border-active: var(--accent-1);

  /* links */
  --text-link: var(--accent-1);

  /* mentions */
  --mention-foreground: var(--accent-1);
	--mention-background: var(--accent-1-bg);
}
::selection {
  background-color: var(--accent-5-selection);
}
/* ^^ mention hover */
.mention.interactive:hover,
.wrapper_f46140.interactive:hover {
  color: var(--accent-1-hover-fg);
  background-color: var(--accent-1-hover-bg);

}
/* codeblock bg */
.shiki-root {
  background-color: transparent !important;
}
/* checkbox icon */
.colorDefault__0b482.focused__27621 .checkbox__45366 {
  color: var(--accent-1) !important;
}
.colorDefault__0b482.focused__27621 .check__8d1bd {
  color: var(--accent-1-hover-bg) !important;
}
/* random checkmark */
.checkmark__1577e {
  color: var(--accent-1);
}
/* new messages bar */
.newMessagesBar__8b6d7 {
  background-color: var(--accent-1);
}
/* the border in settings */
.top__592a7 .brand_ce3ecf.item__48dda.selected__5711d {
  border-color: var(--accent-1);
}
.top__592a7 .brand_ce3ecf.item__48dda:hover {
  border-color: var(--accent-1-hover);
}
/* send button override */
.buttonContainer__9b459:has(.activeButtonChild__6e162) .button__8d734 {
  background-color: var(--accent-1);
}
.activeButtonChild__6e162 {
  color: var(--background-primary);
}
/* bot tag */
.botTagRegular_c89c9a {
  background-color: var(--accent-1);
}
/* reaction... */
.reaction_fef95b.reactionMe__98f57 {
  background-color: var(--accent-1-bg);
  border-color: var(--accent-1);
}
/* radio buttons */
.radioSelection__5ed39 {
  color: var(--accent-1) !important;
}
/* slider */
 .barFill__30e17, .grabber_d2868c {
  background-color: var(--accent-1);
}
/*  */
/* replace red */
.theme-dark {

  /* main */
  --red-400: var(--accent-2);
  --red-500: var(--accent-2-select);

  --text-danger: var(--accent-2);
  /*  */
  --button-danger-background: var(--accent-2);
  --button-danger-background-hover: var(--accent-2-hover);
  --button-danger-background-active: var(--accent-2-active);
  /*  */
  --button-outline-danger-border: var(--accent-2);
  --button-outline-danger-border-hover: var(--accent-2-hover);
  --button-outline-danger-background-hover: var(--accent-2-hover);
  /*  */
  --button-outline-danger-background-active: var(--accent-2-active);
  --button-outline-danger-border-active: var(--accent-2);
  /*  */
}
/* logger */
.messagelogger-deleted {
  background-color: var(--accent-2-deleted) !important;
}
/* replace unread/ping red */
.numberBadge__50328 /* dm unread number */,
.mention__1afd3 /* "NEW" serverlist indicator */ {
	background: var(--accent-2) !important;
}
/* unread dividers */
.divider__8cf56  {
	--divider-color: var(--accent-2);
}
/* mute button strikethrough */
.strikethrough-2Kl6HF  {
	color: var(--accent-2) !important;
}
/* vencord game activity strikethrough */
path[fill="var(--status-danger)"] {
	fill: var(--accent-2) !important;
}
.iconBadge-3Mmg92 /* dm button hover fill */ {
	background: var(--accent-2) !important;
}
/*  */
/* replace green */
.theme-dark {
    
  /* main */
  --text-positive: var(--accent-3);

  /* replace other green stuff */
	--green-360: var(--accent-3); 
  /* green buttons (like invite) */
	--green-430: var(--accent-3); 
  /* green button hover */
	--green-500: var(--accent-3-hover); 
  /* green button click */
	--green-530: var(--accent-3-select); 
}
/* replace status, online */
.wrapper_edb6e0 rect[fill*="#23a55a"], .vc-platform-indicator svg[fill*="#23a55a"] {
	fill: var(--accent-3) !important;
}
.status__1c26d[style*="background-color: rgb(35, 165, 90);"] {
  background-color: var(--accent-3) !important;
}
/* replace status, idle */
.wrapper_edb6e0 rect[fill*="#f0b232"], .vc-platform-indicator svg[fill*="#f0b232"] {
	fill: var(--accent-4) !important;
}
.status__1c26d[style*="background-color: rgb(240, 178, 50);"] {
  background-color: var(--accent-4) !important;
}
/* replace status, dnd */
.wrapper_edb6e0 rect[fill*="#f23f43"], .vc-platform-indicator svg[fill*="#f23f43"] {
	fill: var(--accent-2) !important;
}
.status__1c26d[style*="background-color: rgb(242, 63, 67);"] {
  background-color: var(--accent-2) !important;
}
/* replace status, offline */
.wrapper_edb6e0 rect[fill*="#80848e"], .vc-platform-indicator svg[fill*="#80848e"] {
	fill: var(--accent-5-normal) !important;
}
.checkbox__45366 /* settings checkbuttons */ {
	color: var(--accent-1) !important;
}
.control_f6cce7 .container__871ba.checked__6bdb0 {
  background-color: var(--accent-3) !important;
}
/* replace new emoji badges */
.newlyAddedHighlight_b1b06a {
  border-color: var(--accent-3-dark);
}
.newlyAddedHighlightContainer__974c5:hover .newlyAddedHighlight_b1b06a {
  border-color: var(--accent-3-dark-hover);
}
.newlyAddedBadge__97630 {
  background-color: var(--accent-3-dark);
}
.newlyAddedHighlightContainer__974c5:hover .newlyAddedBadge__97630 {
  background-color: var(--accent-3-dark-hover);
}
/*  */
/* replace yellow */
.theme-dark {
  /*  */
  --text-warning: var(--accent-4);
  /*  */
	--background-mentioned: var(--accent-4-bg);
	--background-mentioned-hover: var(--accent-4-bg-hover);
  /*  */
  --yellow-330: var(--accent-4);
  --yellow-360: var(--accent-3);
  /*  */
  --info-warning-foreground: var(--accent-4);
  --info-warning-background: var(--accent-4);
  --info-warning-text: var(--accent-4);
  --status-warning: var(--accent-4);
}
/* mention message left edge */
.mentioned__58017.message__80c10:before  {
	background: var(--accent-4) !important;
}
/* ^^^, override for reply */
.replying_d7b6ad.message__80c10::before {
  background: var(--accent-1) !important;
}
.radioBar__40e1b[style*="yellow"] {
  border: 1px solid var(--accent-4);
}
/*  */
/* replace nitro */
.theme-dark {
  --guild-boosting-pink: var(--accent-nitro-1);
}
/* guild badge */
.flowerStar_a9981e > path {
  fill: var(--accent-nitro-1) !important;
}
.premiumLabel_f2cd55 > svg > path{
  fill: var(--accent-nitro-1) !important;
}
/*  */
.tooltipPremiumFooterContainer__6fefb {
  background: var(--accent-nitro-1);
}
/* misc. */
.option_b5597b:after {
  display: none;
}
.volumeButtonIcon__48fda {
  color: var(--white-500);
}
.searchFilter__118cb {
  background-color: var(--background-primary) !important;
}
/*  */
/*  */
/*  */

/* remove gift button */
.buttons-uaqb-5 > .button-ejjZWC:first-child{
    display: none;
}

/* full bio in popup*/
div[class*="lineClamp2Plus"] {
    display: block;
}

#vc-spotify-titles {
  margin-left: 12px;
}

/* spotify player icons */
#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  padding: 7px;
  margin-left: -17px;
  margin-top: 2px;
  content: '';
  background-color: var(--header-primary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
  position: absolute;
}
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
   background-color: var(--header-secondary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
}

#vc-spotify-song-title::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
/*  */

/* smaller member count */
#vc-membercount {
    margin-top: 0.5em !important;
    margin-bottom: -1em !important;
}

/* remove thread popout */
.popout__24e32 {
  display: none
}

/* transparent loading bg */
.container-2RRFHK {
    background-color: var(--background-primary); 
    opacity: 0.5;
}

/* VC image zoom fix */
.vc-imgzoom-lens {
    box-shadow: none;
    filter: none;
}

/* move these two forward */
.search__07df0 {
  order: -2;
}
.vc-toolbox-btn {
  order: -1;
}
/*  */

/* move serv. counter below */
.guilds__2b93a .scroller__3d071 {
  display: flex;
  flex-direction: column;
}
.guilds__2b93a .scroller__3d071 > div:nth-child(1) {
  order: -4;
}
.guilds__2b93a .scroller__3d071 > div:nth-child(4) {
  order: -3;
}
.guilds__2b93a .scroller__3d071 > div[style="margin-bottom: 4px;"] {
  order: -2;
}
.guilds__2b93a .scroller__3d071 > div:nth-child(3) {
  order: -1;
}

.guilds__2b93a .scroller__3d071 > div {
  order: 2;
  /* border: 1px solid palegreen; */
}

/* remove new gift button */
.container__5eb17 {
  display: none;
}

/* fix "channels & roles" background */
.container__10dc7, .header__60bef, .scrollerContainer_bf5dbd, .container__7590f {
  background-color: var(--background-primary) !important;
}

/* scrollbars */
.sidebar_ded4b5 {
  border-radius: 0px 16px 16px 0px;
  width: 250px;
}
.bannerImage__39c51 .bannerImg_c85b7f {
  width: 250px;
}
.guilds__2b93a {
  width: 86px;
}
.guilds__2b93a .none__51a8f > div:nth-child(2){
  width: 72px !important;
}
#vc-friendcount, #vc-guildcount {
  margin-right: auto;
  width: auto !important;
}
/*  */
.none__51a8f::-webkit-scrollbar,
.scroller_f0f183::-webkit-scrollbar,
.scroller__4b984::-webkit-scrollbar,
.members__9f47b::-webkit-scrollbar {
  width: 16px;
}
.wrapper_cd625e {
  width: 58px;
}
.listWrapper__74641 {
  left: 10px;
}
.listWrapper__2275d {
  left: 58px;
}
.bodyWrapper_cc3635 {
  margin-left: 4px;
}
.wrapper_cd625e .scroller_e89578::-webkit-scrollbar-track {
  margin: 0px;
}

.none__51a8f::-webkit-scrollbar-thumb,
.scroller_f0f183::-webkit-scrollbar-thumb,
.scroller__4b984::-webkit-scrollbar-thumb,
.members__9f47b::-webkit-scrollbar-thumb {
  visibility: visible;
  border: 4px solid transparent;
  border-radius: 8px;
  background-color: var(--primary-530);
  background-clip: padding-box;
}
.none__51a8f::-webkit-scrollbar-track,
.scroller_f0f183::-webkit-scrollbar-track,
.scroller__4b984::-webkit-scrollbar-track,
.members__9f47b::-webkit-scrollbar-track {
  visibility: visible;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: var(--scrollbar-auto-track);
}
.scroller_f0f183::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
}
.scroller_f0f183::-webkit-scrollbar-track {
  margin-top: 90px;
}
.members__9f47b::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
}
/*  */
.botTagOP_e48ddb {
  color: var(--white-500);
}
/*  */
.container__7c79d .bannerImage__39c51 {
  transform: translateY(0px) scale(1) !important;
}
/*  */

/* experiment thing */
.group_c2a6cb {
  background-color: var(--background-secondary);
  border-radius: 12px;
  padding: 12px;
  padding-left: 16px;
  /* height: min-content; */
}
/*  */

/* channel icon stuff */
/* nsfw (warning) */
.icon_eff5d4:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"],
.icon__4cb88:has(path[d^="M18.09 1.63"]) path[d^="M18.09 1.63"] {
  fill: var(--accent-4) !important;
  /* border: 1px solid rebeccapurple !important; */
}
/* locked (red) */
.icon_eff5d4:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"],
.icon__4cb88:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"] {
  fill: var(--white-500) !important;
  /* border: 1px solid rebeccapurple !important; */
}
/* .icon_eff5d4:has(path[d^="M16 4h.5v"]) path[d^="M16 4h.5v"] {
  fill: var(--accent-2) !important;
  border: 1px solid rebeccapurple !important;
} */

/* remove anim on opening settings */
#app-mount .baseLayer__8fda3 {
  opacity: 1 !important;
  transform: scale(1) !important;
 }
.baseLayer__8fda3[aria-hidden="true"] {
   pointer-events: none;
}
.standardSidebarView__1129a {
  opacity: 1 !important;
}
.layer__2efaa + .layer__2efaa {
   opacity: 1 !important;
   transform: unset !important;
 }
.layer__2efaa[aria-hidden="false"] + .layer__2efaa[aria-hidden="false"] {
  display: none;
}
.baseLayer__8fda3[aria-hidden="true"] {
   pointer-events: none;
}
.layers__1c917>.layer__2efaa.animating__27211 {
  will-change: unset !important;
}
/*  */
/* fix guild badge offset */
.childContainer__4e664 {
  top: 0px;
}






.vc-rdb-view .vc-rdb-review {
  /* background-color: red; */
  border-radius: 8px;
}
.vc-rdb-view .vc-rdb-review .avatar__08316 {
  margin-left:5px;
}

.userPopoutInner_f545a3 .vc-rdb-input {
  border: none;

}
.userPopoutInner_f545a3 .vc-rdb-input .textArea__74543 {
  margin: 0px;
  /* height: 0px !important; */
  margin-top: 1px !important;
}
.userPopoutInner_f545a3 .vc-rdb-input .textArea__74543, 
.userPopoutInner_f545a3 .vc-rdb-input .buttons_ce5b56 > div {
  background-color: transparent;
}
.userPopoutInner_f545a3 .vc-rdb-input .textArea__74543 {
  border: px solid #ffffff40;
  border-radius: 12px 0px 0px 12px;
  border-right: none;
}
.userPopoutInner_f545a3 .vc-rdb-input .scrollableContainer__33e06 {
  padding-top: 2px;
  padding-bottom: 1px;
}
.userPopoutInner_f545a3 .vc-rdb-input .buttons_ce5b56 {
  border: 1px solid #ffffff40;
  margin-top: -px;
  border-radius: 0px 12px 12px 0px !important;
  border-left: none;
  margin-top: 1px !important;
}
.userPopoutInner_f545a3 .vc-rdb-input .buttons_ce5b56 .button_afdfd9 {
  height: 41px;
  margin-top: -1px;
}
